
//mixins
$tablet-small-width: 600px;
$tablet-medium-width: 960px;
$tablet-large-width: 1024px;
$desktop-width: 1280px;
$desktop-large-width: 1920px;

@mixin mobile {
  @media (max-width: #{$tablet-small-width}) {
    @content;
  }
}

@mixin tablet-small {
  @media (min-width: #{$tablet-small-width} + 1px) and (max-width: #{$tablet-medium-width}) {
    @content;
  }
}

@mixin tablet-medium {
  @media (min-width: #{$tablet-medium-width} + 1px) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-large {
  @media (max-width: #{$tablet-large-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width} + 1px) and (max-width: #{$desktop-large-width} - 1px) {
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$desktop-large-width}) {
    @content;
  }
}

@mixin svg-fill($color) {
  svg {
    g {
      g {
        fill: $color;
      }
    }
  }
}